body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
}

select {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#mood-log {
  margin-top: 30px;
}

#mood-list {
  list-style-type: none;
  padding: 0;
}

#mood-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mood-list li span {
  cursor: pointer;
}

#mood-list li span:hover {
  text-decoration: underline;
}

.remove-btn,
.edit-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
}

.remove-btn:hover,
.edit-btn:hover {
  background: darkred;
}
